.loading {
    position: relative;
  }
  
  .loading-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 2px solid #ffffff;
    border-top-color: transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    position: absolute;
    left: calc(50% - 8px);
    top: calc(50% - 8px);
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  